body {
    color:#ffe699;
    background-color: #331a00;
}
header {
    text-align: center;
    padding-top: 30px;
}
footer{
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color:#ffe699;
    background-color:#003300;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*someikonit*/
.fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color:#ffe699;
    color:#331a00;
}